<template>
  <div class="about">
    <Navigation />

    <div class="about">
      <h1>This is an about page</h1>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Navigation from "@/components/Navigation.vue";

@Component({
  components: {
    Navigation,
  },
})
export default class About extends Vue {}
</script>
