<template >
  <v-main v-if="!$auth.loading">
    <div class="home">
      <Navigation />
    </div>
    <div>
      <v-card style="background-color: #303633; padding-top: 16px; margin-top: 16px; margin-left:16px; margin-right:16px; padding-bottom: 16px;">
        <v-text-field style="background-color: #8be8cb; margin-left: 16px; margin-right: 16px;" color="#7EA2AA" label="Search" filled rounded dense></v-text-field>
      </v-card>
    </div>
    <v-row style="padding-top: 16px; padding-left: 16px; padding-right: 16px; ">
      <v-col cols="6">
        <v-card id="kwetter-card" style="background-color: #303633;">
          <v-card-title >Whats happening?</v-card-title>
          <v-textarea auto-grow row-height=1 label="Start Typing..." style="padding-left: 16px; padding-right: 16px; " solo background-color="#8be8cb" v-model=tweet counter="140"></v-textarea>
          <v-combobox @update:search-input='GetTrends' v-model="chipitems" :items="trend" item-text="text" dense style="padding-left: 16px; padding-right: 16px;" color="#8be8cb" chips multiple clearable label="Trends">
            <template v-slot:selection="{ attrs, item}" >
              <v-chip v-bind="attrs" @click="GetTweetsForTrend(item)" color="#8be8cb">{{item}}</v-chip>
            </template>
          </v-combobox>
          <div style="text-align: end;padding-right: 16px; padding-bottom: 16px;">
            <v-btn color="#8be8cb" v-on:click="SubmitTweet()" v-if="$auth.isAuthenticated">Submit</v-btn>
            <v-btn color="#8be8cb" disabled  v-if="!$auth.isAuthenticated">Submit</v-btn>
          </div>
          <v-divider style="padding-top: 16px;"></v-divider>
          <v-row style="padding-left: 16px; padding-right: 16px; padding-bottom: 16px;">
            <v-col cols="2" style="text-align: start;">
              <v-btn color="#8be8cb" v-if="timeline == false">Timeline</v-btn>
              <v-btn color="#4e9680" v-if="timeline == true" v-on:click="contentSwap()">Timeline</v-btn>
            </v-col>
            <v-col cols="3" style="text-align: start;">
              <v-btn color="#8be8cb" v-if="timeline == true">@Mentions</v-btn>
              <v-btn color="#4e9680" v-if="timeline == false" v-on:click="contentSwap()">@Mentions</v-btn>
            </v-col>
            <v-col cols="6"></v-col>
          </v-row>
          <div style="text-align: start; padding-left: 16px; padding-top: 16px; padding-bottom: 16px;" v-if="timeline == true">List of @Mentions Tweets here</div>
          <div style="max-height:350px; padding-bottom:16px; overflow-y:scroll;" v-if="timeline == false">
            <v-list expand style="text-align: start; padding-left: 16px; padding-right: 16px; padding-top: 16px; padding-bottom: 16px;" color="#303633" >
              <v-list-item v-for="(item) in this.tweets" :key="item.id">
                <v-list-item-group>
                  <v-list-item-content>
                    <Tweet :tweet="item" />
                  </v-list-item-content>
                </v-list-item-group>
              </v-list-item>
            </v-list>
            <infinite-loading spinner="spiral" @infinite="GetMoreTweets">
              <div slot="no-more">No more tweets</div>
            </infinite-loading>
          </div>
          <div style="padding-top:16px"></div>
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-card id="kwetter-card" style="background-color: #303633;">
          <v-card-title>Your tweets: {{this.lastTweet.count}}</v-card-title>
          <div style="text-align: start; padding-left: 16px; padding-bottom: 16px;">Last tweet card here</div>
          <v-row>
            <v-col>Following: 30</v-col>
            <v-col>Followers: 9000</v-col>
          </v-row>
          <div style="text-align: start; padding-left: 16px; padding-top: 16px; padding-bottom: 16px;">Followers list here</div>
        </v-card>
        <v-card id="kwetter-card" style="margin-top: 16px; background-color: #303633;">
          <v-card-title>Trends:</v-card-title>
          <div style="overflow-y:scroll; height:411px; max-height:411px; text-align: start; padding-left: 16px; padding-top: 16px; padding-bottom: 16px;">
            <v-list expand color="#303633" style="padding-top: 0px">
              <v-list-item v-for="(item) in this.popularTrends" :key="item.id">
                <v-list-item-group>
                  <v-list-item-content>
                    <TrendChip :chip="item"/>
                  </v-list-item-content>
                </v-list-item-group>
              </v-list-item>
            </v-list>
          </div>
          <div style="padding-top:16px"></div>
        </v-card>
      </v-col>
      <!-- <v-overlay :value=this.trendTweetOverlay>
        <v-card>
          <div style="max-height:350px; padding-bottom:16px; overflow-y:scroll;">
            <v-list expand style="text-align: start; padding-left: 16px; padding-right: 16px; padding-top: 16px; padding-bottom: 16px;" color="#303633" >
              <v-list-item v-for="(item,i) in this.$store.state.trendtweet" :key="i">
                <v-list-item-group>
                  <v-list-item-content>
                    <v-card color="#4e9680">
                      <v-card-subtitle>likes: {{item.likes}}</v-card-subtitle>
                      <v-card-text>{{item.body}}</v-card-text>
                      <v-card-text>{{item.profileId}}</v-card-text>
                      <timeago style="padding-left: 16px;" :datetime="item.datetime" :auto-update="60"></timeago>
                      <v-chip-group style="padding-left: 16px; padding-right: 16px;">
                        <TrendChip :chip=""/>
                      </v-chip-group>
                    </v-card>
                  </v-list-item-content>
                </v-list-item-group>
              </v-list-item>
            </v-list>
          </div>
        </v-card>
      </v-overlay> -->
    </v-row>
  </v-main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "@/components/HelloWorld.vue";
import Navigation from "@/components/Navigation.vue";
import Tweet from "@/components/Tweet.vue";
import TrendChip from "@/components/TrendChip.vue";
import ProfileService from "@/services/projectService";
import TweetService from "@/services/tweetService";
import TrendService from "@/services/trendService";
import InfiniteLoading from 'vue-infinite-loading';
import PopularTrends from "@/components/home/PopularTrends";
import TimeAgo from 'time-ago'
import { VCardSubtitle } from "vuetify/lib";
import { isEmpty } from "node_modules/@types/lodash";

@Component({
  components: {
    HelloWorld,
    Navigation,
    InfiniteLoading,
    Tweet,
    TrendChip,
    PopularTrends
  },
  data(){
    return{
    }
  }
})

export default class Home extends Vue {
  private tweet = '';
  private trend = [];
  private chipitems = [];
  private timeline = false;
  private text = '';
  private currentPage = 0;
  private pageAmount = 1;
  private tweets = [];
  private lastTweet = [];
  private enableInfinitLoad = false;
  private popularTrends = this.$store.state.populartrends;
  private trendTweets = [];
  private trendTweetOverlay = this.$store.getters.populartrends;

  async created(){
    const auth = await this.$auth.getUser();
    const sub ={
      "name": auth.name,
      "sub": auth.sub,
      'bio': ""
    }
    ProfileService.createProfile(await this.$auth.getTokenSilently({}), sub);
    this.tweets = await TweetService.getAllTweets(await this.$auth.getTokenSilently({}), this.currentPage).then( res =>{
      this.calculatePageNumber(res.data)
      this.enableInfinitLoad = true;
      return res.data.data });
    this.lastTweet = await TweetService.GetByProfileId(await this.$auth.getTokenSilently({}), 0, auth.sub).then(res =>{
      return res.data;
    })
    
  }

  async GetTweetsForTrend(trendname){
    this.$store.state.trendtweets = await TweetService.getByTrend(await this.$auth.getTokenSilently({}), trendname.substring(1)).then(res => {
      this.$store.commit('trendtweet', res.data.data);
    });
  }

  async calculatePageNumber(data){
    this.pageAmount = Math.ceil(data.count/10)
  }

  async GetMoreTweets($state){
    if(this.currentPage == this.pageAmount){
      $state.complete();
    }
    else{
      this.currentPage++;
      const response = await TweetService.getAllTweets(await this.$auth.getTokenSilently({}), this.currentPage);
      this.tweets = this.tweets.concat(response.data.data)
      $state.loaded();
    }  
  }

  async contentSwap(){
    if(this.timeline == false){
      this.timeline = true;
    }
    else{
      this.timeline = false;
    }
  }

  async SubmitTweet(){
    if(this.tweet != ''){
      const tweet ={
      "body": this.tweet,
      "profileId": this.$auth.user.sub,
      "trend": this.chipitems
      }
      console.log(tweet);
      TweetService.createTweet(await this.$auth.getTokenSilently({}), tweet);
      TrendService.checkForTrend(await this.$auth.getTokenSilently({}), this.chipitems);
    }
    else{
      console.log('Tweet has no Body')
    }
  }

  async GetTrends(value: any){
    if(typeof(value) == "string"){
      if(value == '#'){
        console.log('Loading newest trends')
      }
      else if(value.charAt(0) == '#'){
        this.trend = [];
        console.log(value.substring(1))
        const trends = await TrendService.GetByName(await this.$auth.getTokenSilently({}), value.substring(1))
        this.trend = trends.data;
      }
    }
  }

  Overlay(){
    this.trendTweetOverlay = !this.trendTweetOverlay;
  }
}
</script>

<style lang="scss">
  #kwetter-card{
    color: #8be8cb;
  }

  .theme--light.v-pagination .v-pagination__item {
    background: #4e9680 !important;
    color: rgba(0,0,0,.87 ) !important;
  }

  .theme--light.v-pagination .v-pagination__item--active {
    background: #8be8cb !important;
    color: #fff;

  .theme--light.v-list {
    background: #4e9680 !important;
  }

  .theme--light.v-input{
    color: #8be8cb !important;
  }
}
</style>
