<template>
  <div>
    <h2>Welcome to Kwetter! Press the login button the to start Kwettering.</h2>
    <div v-if="!$auth.loading">
      <!-- show login when not authenticated -->
      <v-btn color="#4E9680" v-if="!$auth.isAuthenticated" @click="login()"
        >Log in</v-btn
      >
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
@Component
export default class LandingPage extends Vue {
  
  login() {
    this.$auth.loginWithRedirect({ appState: { targetUrl: `/home` }} );
  }
}
</script>

<style>
</style>