<template>
  <div class="home">
    <Navigation />
    <v-main>
      <div id="profile_css" class="row">
        <v-card class="column" style="width: 120px; height: 120px; background-color: #303633">
          <img style="padding-top: 10%;"  :src="$auth.user.picture"/>
        </v-card>
        <v-card class="column" style="padding-top: 30px; margin-left: 20px; background-color: #303633; height: 120px;">
          <v-card-title style="color:#8be8cb">{{ $auth.user.name }}</v-card-title>
        </v-card>
        <v-card class="column" style="background-color: #303633; margin-left: 20px">
          <v-card-title style="color:#8be8cb">
            Profile Details:
          </v-card-title>
          <div id="description_css" style="color:#7EA2AA; align-context:start; text-align:start; padding-left: 16px;">Email: {{ $auth.user.email }}</div>
          <v-card-title style="color:#8be8cb; padding-bottom: 0px;">
            Bio:
          </v-card-title>
            <v-textarea auto-grow row-height=1 counter="160" id="description_css" style="padding-left: 16px; color:#8be8cb !important; padding-right: 16px;" @change='updateBio' v-model=bio></v-textarea>
            <div Class="Row">
              <v-card-text>
                <v-row style="margin-left: 0px; color:#8be8cb; padding-right:16px;">
                  <div>Followers: 10</div>
                  <div style="padding-left: 16px;">Follows: 9000</div>
                </v-row>
              </v-card-text>
            </div> 
        </v-card>
      </div>
      <div>

      </div>
      <div>
        <pre style= "text-align:center;">{{ JSON.stringify($auth.user, null, 2) }}</pre>
      </div>
    </v-main>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Navigation from "@/components/Navigation.vue";
import ProfileService from "@/services/projectService";

@Component({
  components: {
    Navigation,
  },
})

export default class Profile extends Vue {
  private bio = ''
  private token = ''
  async mounted() {
    this.token = await this.$auth.getTokenSilently({});
    const profile = await ProfileService.GetById(this.token, this.$auth.user.sub);
    this.bio = profile.data.bio;
  }

  async updateBio(){
    const profile ={
      "sub": this.$auth.user.sub,
      'bio': this.bio
    }
    await ProfileService.updateBio(this.token, profile)
  }
}
</script>

<style lang="scss">
  #profile_css {
    padding-top: 20px;
    padding-left: 20px;
    h2 {
      color: #8be8cb;
    }

    h3{
      color:#7EA2AA;
    }

    p {
      color: #8be8cb;
    }
  }

  #description_css {
    font-size: 13px;
  }


  textarea {
      color: #7EA2AA !important;
  }
  .theme--light.v-counter {
      color: #7EA2AA !important;
    }
  
</style>