<template>
  <div>
    <Navigation />
    User list comes here
  </div>
</template>

<script lang="ts">
import { Component, Vue} from 'vue-property-decorator'
import Navigation from '@/components/Navigation.vue'
import ProfileService from "@/services/projectService";

@Component({
  components: {
    Navigation,
  }
})
export default class Userlist extends Vue {
  async mounted() {
    const token = await this.$auth.getTokenSilently({});
    console.log(await ProfileService.getAllProfiles(token));
  }
};
</script>

<style>
</style>