<template>
  <v-card id="kwetter-card" style="margin-top: 16px; background-color: #303633">
    <v-card-title>Trends:</v-card-title>
    <div
      style="
        overflow-y: scroll;
        height: 411px;
        max-height: 411px;
        text-align: start;
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
      "
    >
      <v-list expand color="#303633" style="padding-top: 0px">
        <v-list-item v-for="item in this.popularTrends" :key="item.id">
          <v-list-item-group>
            <v-list-item-content>
              <TrendChip :chip="item" />
            </v-list-item-content>
          </v-list-item-group>
        </v-list-item>
      </v-list>
    </div>
    <div style="padding-top: 16px"></div>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TrendService from "@/services/trendService";

@Component({
  components: {
  },
  data(){
    return{
    }
  }
})
export default class PopularTrends extends Vue {
    private popularTrends = this.$store.state.populartrends;

    async created(){
       await TrendService.getPopular(await this.$auth.getTokenSilently({})).then(res=>{
      this.$store.commit('populartrends', res.data.data);
    }); 
    }
};
</script>

<style>
</style>