<template>
  <v-app-bar hide-on-scroll  color="#303633" dark>
    <div class="d-flex align-center">
      <h1>Kwetter</h1>
    </div>

    <div v-if="!$auth.loading" id="nav">
      <v-btn icon>
        <router-link to="/home">
          <font-awesome-icon size="2x" :icon="['fas', 'home']" />
        </router-link>
      </v-btn>
      <v-btn icon>
        <router-link to="/about">
          <font-awesome-icon size="2x" :icon="['fas', 'comments']" />
        </router-link>
      </v-btn>
      <v-btn icon v-if="$auth.isAuthenticated">
        <router-link to="/userlist">
          <font-awesome-icon size="2x" :icon="['fas', 'users']" />
        </router-link>
      </v-btn>
      <v-btn icon v-if="$auth.isAuthenticated">
        <router-link to="/profile">
          <font-awesome-icon size="2x" :icon="['fas', 'user-cog']" />
        </router-link>
      </v-btn>
    </div>

    <v-spacer></v-spacer>

    <div id="user" v-if="$auth.isAuthenticated">
      <h6>Welcome, {{ $auth.user.name }}</h6>
    </div>

    <div v-if="!$auth.loading">
      <!-- show login when not authenticated -->
      <v-btn color="#4E9680" v-if="!$auth.isAuthenticated" @click="login"
        >Log in</v-btn
      >
      <!-- show logout when authenticated -->
      <v-btn color="#4E9680" v-if="$auth.isAuthenticated" @click="logout"
        >Log out</v-btn
      >
    </div>
  </v-app-bar>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class Navigation extends Vue {
  login() {
    this.$auth.loginWithRedirect({});
  }

  // Log the user out
  logout() {
    this.$auth.logout({
      returnTo: window.location.origin,
    });
  }
}
</script>

<style lang="scss">
#nav {
  padding: 3%;

  a {
    font-weight: bold;
    color: #4e9680;
  }

  .router-link-exact-active {
    color: #8be8cb;
  }
}

#user {
  padding-right: 3%;

  h6 {
    color: #8be8cb;
  }
}
</style>
