<template>
  <v-chip color="#8be8cb" @click="GetTweetsForTrend(chip.name)" >{{chip.name}}</v-chip>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import TweetService from "@/services/tweetService";

@Component({
  components: {},
})
export default class TrendChip extends Vue {
    @Prop()
    private chip: object;

    async GetTweetsForTrend(trendname){
        await TweetService.getByTrend(await this.$auth.getTokenSilently({}), trendname.substring(1)).then(res => {
        this.$store.commit('trendtweet', res.data.data);
        console.log(this.chip)
        });
    }
}
</script> 8 50

<style>

</style>