<template>
  <v-card color="#4e9680">
    <v-card-subtitle>likes: {{ tweet.likes }}</v-card-subtitle>
    <v-card-text>{{ tweet.body }}</v-card-text>
    <v-card-text>{{ tweet.profileId }}</v-card-text>
    <timeago
      style="padding-left: 16px"
      :datetime="tweet.datetime"
      :auto-update="60"
    ></timeago>
    <v-chip-group style="padding-left: 16px; padding-right: 16px">
      <v-chip
        color="#8be8cb"
        @click="GetTweetsForTrend(trend)"
        v-for="trend in tweet.trend"
        :key="trend"
        >{{ trend }}</v-chip
      >
    </v-chip-group>
  </v-card>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import TweetService from "@/services/tweetService";
import TrendChip from "@/components/TrendChip.vue";

@Component({
  components: {},
})
export default class Tweet extends Vue {
    @Prop()
    private tweet: object;

    async GetTweetsForTrend(trendname){
        await TweetService.getByTrend(await this.$auth.getTokenSilently({}), trendname.substring(1)).then(res => {
        this.$store.commit('trendtweets', res.data.data);
        console.log(this.$store.state.trendtweets)
        });
    }
};
</script>

<style>
</style>