<template>
  
  <v-app id="app">
    <router-view/>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "App",

  components: {
    
  },
  watch:{
    
  },

  

  
});
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #7EA2AA;
}

body {
  
}

h1{
  color:#8BE8CB
}
</style>


